
.vscode/launch.json
aspirador/__pycache__/__init__.cpython-310.pyc
.vscode/launch.json
ia_2022/__pycache__/__init__.cpython-312.pyc
ia_2022/__pycache__/entorn.cpython-312.pyc
practica1/__pycache__/__init__.cpython-312.pyc
practica1/__pycache__/agentProfunditat.cpython-312.pyc
practica1/__pycache__/joc.cpython-312.pyc
